@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root {
  --cor-primaria: #ff9400;
  --cor-secundaria: #fbbc05;
  --cor-destaque: #cfeaf3;
  --cor-fundo: #ffffff;
  --cor-texto: #323232;
  --fonte-logo: "Josefin Sans", sans-serif;
  --fonte-titulos: "Poppins", sans-serif;
  --fonte-texto: "Open Sans", sans-serif;
}
.dark {
  --cor-fundo: #020202;
  --cor-texto: #ffffff;
}
body,
html {
  background: var(--cor-fundo);
  color: var(--cor-texto);
  scroll-padding-top: 5em;
}
/* NAVBAR START */
.navbar {
  background-color: var(--cor-fundo);
  transition: all 300ms ease-in;
}
.navbar .navbar-brand {
  margin: 0;
}
.navbar a {
  font: normal bolder 2em var(--fonte-logo);
  color: var(--cor-texto);
}
.navbar a span {
  color: var(--cor-secundaria);
}
.navbar .navbar-collapse {
  flex-grow: 0;
}
.navbar .navbar-collapse ul li a {
  font: normal normal 1em var(--fonte-titulos);
}
.btn-primary {
  background-color: var(--cor-secundaria);
  border: 0;
  border-radius: 25px;
  padding: 0;
  height: 45px;
  width: 140px;
}
.btn-primary:hover {
  background-color: var(--cor-primaria);
}
.btn-primary:active {
  background-color: var(--cor-primaria) !important;
  scale: 0.9;
}
.btn-close,
.navbar-toggler {
  box-shadow: none !important;
}
.navbar-nav .nav-item:hover .nav-link {
  color: var(--cor-primaria);
}
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: var(--cor-primaria);
}
/* NAVBAR END */
.title {
  font: normal 600 2em var(--fonte-titulos) !important;
}
h2.title {
  text-align: center;
}
.title span {
  color: var(--cor-secundaria) ;
  font-weight: bold;
}
.text-secondary {
  font: normal normal 1.1em var(--cor-texto);
}
.col {
  padding-top: 10px;
  border-radius: 10px;
}
#about {
  position: relative;
  margin-bottom: 15rem !important;
}
#about::before {
  content: url('../images/dog-2.png');
  position: absolute;
  bottom: -25rem;
  left: -15rem;
}
#about::before,
#services::before {
  scale: .8;
}
/* SWIPER START */
#services {
  position: relative;
}
#services::before {
  content: url('../images/cat-1.png');
  position: absolute;
  bottom: -25rem;
  right: -5rem;
}
.swiper {
  width: 100%;
  height: 329px;
}
.swiper-slide {
  height: min-content;
  width: max-content;
}
.swiper .col-6 {
  width: 100%;
  padding: 10px;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: var(--cor-fundo);
  height: 25px;
  width: 25px;
  color: var(--cor-primaria);
  border: 1px solid #f9fafb;
  border-radius: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.267);
}
.swiper-button-prev::after {
  content: '\f053';
  font-family: 'Font Awesome 5 free';
  font-weight: 900;
  font-size: 14px;
}
.swiper-button-next::after {
  content: '\f054';
  font-family: 'Font Awesome 5 free';
  font-weight: 900;
  font-size: 14px;
}
.swiper-button-prev {
  left: 0px;
}
.swiper-button-next {
  right: 0px;
}
.swiper-pagination-bullet-active{
  background-color: var(--cor-primaria) !important;
}
#services .bi {
  background-color: #fbbd057d;
  width: 65px;
  font-size: 2.5em;
  height: 56px;
  border-radius: 25px 10px 25px 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* SWIPER END */
/* PRINCING OFC */
#pricing .title {
  position: relative;
  z-index: 2;
}
#pricing .title::before {
  content: url('../images/patas\ \(1\)\ 1.png');
  position: absolute;
  top: -5rem;
  left: 50%;
  z-index: 1;
  opacity: 0.5;
}
.container-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 2rem 0;
}
.princing-card {
  padding: 2rem;
  width: 300px;
  text-align: center;
  margin: 1rem 0;
}
.name-card {
  margin: 0 0 1rem;
}
.name-card h1{
  font-size: 2em;
  color: var(--cor-secundaria);
}
.name-card h2 {
  font-size: 1.5em;
  margin: 0;
  font-weight: normal;
}
.name-card span {
  color: var(--cor-texto);
  font-size: 1.7em;
}
.best-offer {
  background: linear-gradient(135deg, #FBBC05, #F57C00);
  color: var(--cor-fundo);
  position: relative;
}
.best-offer .name-card span, 
.best-offer h1 {
  color: var(--cor-fundo);
}
.best-offer .btn-primary {
  background-color: white;
  color: var(--cor-primaria);
  font-size: 1.2em;
}
.best-offer .btn-primary:hover {
  background-color: rgb(245, 245, 245);
}
.mb-5 {
  margin-bottom: 10rem !important;
}
/* FOOTER */
footer {
  position: relative;
  z-index: 9999;
}
footer h5 {
  font: normal 600 2em var(--fonte-logo);
}
footer h5 span {
  color: var(--cor-secundaria);
}

footer::after {
  content: url("../images/cat-2.png");
  position: absolute;
  bottom: 0;
  right: 0;
}
footer ul li.nav-item {
  position: relative;
  color: var(--cor-texto);
  text-indent: 1.5rem;
}
footer ul.nav .nav-item:hover .nav-link {
  color: var(--cor-primaria) !important;
}
footer ul li.nav-item::before {
  content: url("../images/pet.png");
  position: absolute;
  left: -25px;
  scale: 0.8;
}
@media (max-width: 768px) {
  .container-card {
    flex-direction: column;
  }
  #services::before,
  #about::before {
    display: none;
  }
}