@import url("./general.css");

.navbar {
  transition: all 300ms ease-in;
}
.shadow-sm {
  background-color: var(--cor-fundo-navbar);
}
.navbar .navbar-brand {
  margin: 0;
}
.navbar a {
  font: normal bolder 2em var(--fonte-logo);
  color: var(--cor-texto);
}
.navbar a span {
  color: var(--cor-secundaria);
}
.navbar .navbar-collapse {
  flex-grow: 0;
}
.navbar .navbar-collapse ul li a {
  font: normal normal 1em var(--fonte-titulos);
}
.btn-close,
.navbar-toggler,
.navbar-toggler-icon {
  box-shadow: none !important;
  color: var(--cor-texto) !important;
  background: none;
  border-color: var(--cor-borda);
}
.navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-toggler-icon i {
  transform: scale(1.2);
}
.navbar-nav .nav-item:hover .nav-link {
  color: var(--cor-primaria);
}
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: var(--cor-primaria);
}
.offcanvas {
  background-color: var(--cor-fundo);
} 
