@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root {
  --cor-primaria: #ff9400;
  --cor-secundaria: #fbbc05;
  --cor-destaque: #cfeaf3;
  --cor-fundo: #ffffff;
  --cor-texto: #323232;
  --fonte-logo: "Josefin Sans", sans-serif;
  --fonte-titulos: "Poppins", sans-serif;
  --fonte-texto: "Open Sans", sans-serif;
}
.dark {
  --cor-fundo: #020202;
  --cor-texto: #ffffff;
}
body,
html {
  background: var(--cor-fundo);
  color: var(--cor-texto);
  scroll-padding-top: 5em;
}
/* NAVBAR START */
.navbar {
  background-color: var(--cor-fundo);
  transition: all 300ms ease-in;
}
.navbar .navbar-brand {
  margin: 0;
}
.navbar a {
  font: normal bolder 2em var(--fonte-logo);
  color: var(--cor-texto);
}
.navbar a span {
  color: var(--cor-secundaria);
}
.navbar .navbar-collapse {
  flex-grow: 0;
}
.navbar .navbar-collapse ul li a {
  font: normal normal 1em var(--fonte-titulos);
}
.btn-primary,
.btn-secondary {
  border: 0;
  border-radius: 25px;
  padding: 0;
  height: 45px;
  width: 140px;
}
.btn-primary {
  background-color: var(--cor-secundaria);
}
.btn-secondary {
  background-color: transparent;
  color: var(--cor-primaria);
  border: 2px solid var(--cor-secundaria);
}
.btn-primary:hover,
.btn-secondary:hover {
  background-color: var(--cor-primaria);
  border: 0;
}
.btn-primary:active {
  background-color: var(--cor-primaria) !important;
  scale: 0.9;
}
.btn-close,
.navbar-toggler {
  box-shadow: none !important;
}
.navbar-nav .nav-item:hover .nav-link {
  color: var(--cor-primaria);
}
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: var(--cor-primaria);
}
/* NAVBAR END */
.title {
  font: normal 600 2em var(--fonte-titulos) !important;
}
h2.title {
  text-align: center;
}
.title span {
  color: var(--cor-secundaria);
  font-weight: bold;
}
.text-secondary {
  font: normal normal 1.1em var(--cor-texto);
}
.col {
  padding-top: 10px;
  border-radius: 10px;
}
#about {
  position: relative;
  margin-bottom: 15rem !important;
}
#about::before {
  content: url("../images/dog-2.png");
  position: absolute;
  bottom: -25rem;
  left: -15rem;
}
#about::before,
#services::before {
  scale: 0.8;
}
/* SWIPER START */
#services {
  position: relative;
}
#services::before {
  content: url("../images/cat-1.png");
  position: absolute;
  bottom: -25rem;
  right: -5rem;
}
.swiper {
  width: 100%;
  height: 329px;
}
.swiper-slide {
  height: min-content;
  width: max-content;
}
.swiper .col-6 {
  width: 100%;
  padding: 10px;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: var(--cor-fundo);
  height: 25px;
  width: 25px;
  color: var(--cor-primaria);
  border: 1px solid #f9fafb;
  border-radius: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.120);
  z-index: 9999;
}
.swiper-button-prev::after {
  content: "\f053";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  font-size: 14px;
}
.swiper-button-next::after {
  content: "\f054";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  font-size: 14px;
}
.swiper-button-prev {
  left: .1em;
}
.swiper-button-next {
  right: .1em;
}
.swiper-pagination-bullet-active {
  background-color: var(--cor-primaria) !important;
}
#services .bi {
  background-color: #fbbd057d;
  width: 65px;
  font-size: 2.5em;
  height: 56px;
  border-radius: 25px 10px 25px 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* SWIPER END */
/* PRINCING OFC */
#pricing .title {
  position: relative;
  z-index: 2;
}
#pricing .title::before {
  content: url("../images/patas\ \(1\)\ 1.png");
  position: absolute;
  top: -5rem;
  left: 50%;
  z-index: 1;
  opacity: 0.5;
}
.container-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 2rem 0;
}
.princing-card {
  padding: 2rem;
  width: 300px;
  text-align: center;
  margin: 1rem 0;
}
.name-card {
  margin: 0 0 1rem;
}
.name-card h1 {
  font-size: 2em;
  color: var(--cor-secundaria);
}
.name-card h2 {
  font-size: 1.5em;
  margin: 0;
  font-weight: normal;
}
.name-card span {
  color: var(--cor-texto);
  font-size: 1.7em;
}
.best-offer {
  background: linear-gradient(135deg, #fbbc05, #f57c00);
  color: var(--cor-fundo);
  position: relative;
}
.best-offer .name-card span,
.best-offer h1 {
  color: var(--cor-fundo);
}
.best-offer .btn-primary {
  background-color: white;
  color: var(--cor-primaria);
  font-size: 1.2em;
}
.best-offer .btn-primary:hover {
  background-color: rgb(245, 245, 245);
}
.mb-5 {
  margin-bottom: 10rem !important;
}
/* FOOTER */
footer {
  position: relative;
}
footer h5 {
  font: normal 600 2em var(--fonte-logo);
}
footer h5 span {
  color: var(--cor-secundaria);
}

footer::after {
  content: url("../images/cat-2.png");
  position: absolute;
  bottom: 0;
  right: 0;
}
footer ul li.nav-item {
  position: relative;
  color: var(--cor-texto);
  text-indent: 1.5rem;
}
footer ul.nav .nav-item:hover .nav-link {
  color: var(--cor-primaria) !important;
}
footer ul li.nav-item::before {
  content: url("../images/pet.png");
  position: absolute;
  left: -25px;
  scale: 0.8;
}
/* MODAL LOG IN / SIGN UP */
.modal-body h3 {
  margin-bottom: 2rem;
}
.modal-body #singWithGoogle {
  background-color: rgb(241, 241, 241);
  padding: 1rem 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 0;
  transition: all 300ms ease-in-out;
}
.modal-body #singWithGoogle:hover,
.modal-body #singWithGoogle:active {
  background-color: rgb(227, 227, 227);
}
.modal-body #orSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modal-body #orSpan span {
  text-transform: uppercase;
}
.modal-body #orSpan span::before {
  content: "";
  position: absolute;
  width: 42%;
  background-color: rgb(227, 227, 227);
  height: 1px;
  left: 0;
  top: 50%;
}
.modal-body #orSpan span::after {
  content: "";
  position: absolute;
  width: 42%;
  background-color: rgb(227, 227, 227);
  height: 1px;
  right: 0;
  top: 50%;
}
.btn-success {
  background-color: var(--cor-secundaria);
  border: 0;
  padding: 0;
  height: 45px;
  width: 100%;
}
.btn-success:hover {
  background-color: var(--cor-primaria) !important;
  border: 0;
}
.btn-succes:active {
  background-color: var(--cor-primaria) !important;
  scale: 0.9;
}
.modal-body .form-control,
.modal-body label {
  height: 30px;
  font-size: 14px;
}
.input-field {
  position: relative;
  margin: 0 0 1rem;
}
.input-field label {
  position: absolute;
  color: #8d8d8d;
  pointer-events: none;
  background-color: transparent;
  left: 15px;
  transform: translateY(0.6rem);
  transition: all 0.3s ease;
}
.input-field input {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: solid 1px #8d8d8d;
  letter-spacing: 1px;
  width: 100%;
}
.input-field input:focus,
.input-field input:valid {
  outline: none;
  border: solid 1px var(--cor-primaria);
}
.input-field input:focus ~ label,
.input-field input:valid ~ label {
  transform: translateY(-51%) translateX(-10px) scale(0.8);
  background-color: #fff;
  padding: 0px 5px;
  color: var(--cor-primaria);
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
}
.form-check a {
  color: var(--cor-primaria);
  text-decoration: none;
}
.form-check label,
.form-check input {
  cursor: pointer;
}
.form-check-input {
  box-shadow: none !important;
}
.form-check-input:checked {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}
.form-check-input:focus {
  border-color: var(--cor-primaria);
  box-shadow: none;
}
.modal-body .text-center {
  font-size: 0.9em;
}
.modal-body .text-center a {
  text-decoration: none;
  color: var(--cor-primaria);
}
.modal-body .text-center a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .container-card {
    flex-direction: column;
  }
  #services::before,
  #about::before {
    display: none;
  }
}

.fade-in {
  animation: fadeInLeft 300ms forwards;
}

.fade-out {
  animation: fadeOutLeft 300ms forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
